<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- <script src="{% static 'js/custom.js' %}"></script> -->
</head>
<body>
    <h3>WELCOME TO LOGIN RESONSE</h3>
    <h4>WELCOME {{username}}</h4>
    <!-- <h1>Contact Us {{contact}}</h1> -->
    <!-- <button id="sa" class="btn wave-light">START ANIMATION</button> -->
</body>
</html>