body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: yellow;
    font-family: 'Comfortaa', cursive;
}
#filediv{
    padding-left: 300px;
    padding-right: 300px;
}
h4 {
    text-align: center;
}

#Buttons {
    text-align: center;
} 